@use "variables" as v;
@use "sass:color";

// Sección 9: Testimonios

.testimonials {
    padding: 80px 0;
    background-color: #f2f5f8;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: start; /* texto sube en su columna */

        @media (max-width: v.$breakpoint-lg) {
            grid-template-columns: 1fr;
        }
    }

    &__content {
        h2 {
            font-family: v.$font-secondary;
            font-weight: 700;
            font-size: 48px;
            line-height: 120%;
            letter-spacing: -1%;
            color: v.$text-dark;
            margin-bottom: 20px;
        }

        p {
            font-family: v.$font-main;
            font-weight: 400;
            font-size: 18px;
            line-height: 155%;
            letter-spacing: 2%;
            color: v.$text-gray;
            margin-bottom: 30px;
        }
    }

    &__button{
        
        &-contact {
            padding: 12px 32px;
            font-family: v.$font-secondary;
            font-weight: 700;
            font-size: 16px;
            border: 2px solid v.$blue;
            border-radius: 4px;
            background-color: v.$white;
            color: v.$blue;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-right: 15px; // Espacio horizontal entre botones

            &:hover {
                background-color: v.$blue;
                color: v.$white;
                transform: translateY(-2px); // Efecto sutil de elevación
            }
        }
        &-see-all {
            padding: 12px 0; // Eliminamos padding lateral para que se alinee con el texto
            font-family: v.$font-secondary;
            font-weight: 700;
            font-size: 16px;
            
            background-color: transparent; // Sin fondo
            border: none;                  // Sin contorno
            color: v.$text-dark;        // Solo color en las letras
            
            cursor: pointer;
            transition: color 0.3s ease;
            outline: none;
        }
    }

    &__image {
        img {
            width: 100%;
            height: auto;
            display: block;
            image-rendering: crisp-edges;
        }
    }
}
