@use "variables" as v;

// Sección 7: Capturas de Pantalla

.screenshots {
    padding: 80px 0;

    &__header {
        text-align: center;
        margin-bottom: 40px;

        h2 {
            font-family: v.$font-secondary;
            font-weight: 700;
            font-size: 48px;
            line-height: 120%;
            letter-spacing: -1%;
            color: v.$text-dark;
            margin-bottom: 20px;
        }

        p {
            font-family: v.$font-main;
            font-weight: 400;
            font-size: 18px;
            line-height: 155%;
            letter-spacing: 2%;
            color: v.$text-gray;
            max-width: 600px;
            margin: 0 auto;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
            width: 150%;
            height: auto;
            flex-shrink: 0;
            border-radius: 8px;   
        }
    }
}
