@use "variables" as v;

.features-preview {
    padding: 10px 0 100px 0;
    text-align: center;
    position: relative;
    overflow: hidden;

    &__bg-wrapper {
        position: absolute;
        top: 150px;
        left: -14%;
        width: 50%;
        height: auto;
        z-index: 0;
        pointer-events: none;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &__header {
        max-width: 850px;
        margin: 0 auto 80px;
        display: block;
        text-align: center;

        .section-title {
            font-family: v.$font-secondary;
            font-weight: 700;
            font-size: 64px;
            line-height: 120%;
            letter-spacing: -1%;
            color: v.$text-dark;
            margin-bottom: 25px;
        }

        .section-description {
            font-family: v.$font-main;
            font-weight: 400;
            font-size: 18px;
            line-height: 155%;
            letter-spacing: 2%;
            color: v.$text-gray;
            margin-bottom: 0;
        }
    }
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;

    @media (max-width: v.$breakpoint-lg) {
        grid-template-columns: 1fr;
    }
}

.feature-card {
    padding: 40px 20px;

    &--white-text {
        color: v.$white; // texto blanco para el fondo oscuro
        .feature-card__icon img {
            filter: brightness(0) invert(1);
            height: 80px;
        }
    }
}

.feature-card__title {
    font-family: v.$font-secondary;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -1%;
    color: v.$text-dark;
}

.feature-card__text {
    font-family: v.$font-main;
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    letter-spacing: 2%;
    color: v.$text-gray;
}