@use "variables" as v;

// Sección 3: Features Preview

.features-preview {
    padding: 100px 0;
    text-align: center;
    position: relative;
    overflow: visible;

    &__bg-wrapper {
        position: absolute;
        top: 25%;
        left: -12%;
        width: 50%;
        height: auto;
        z-index: 0;
        pointer-events: none;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .container {
        position: relative;
        z-index: 1;
        margin-bottom: 15%;
    }

    &__header {
        max-width: 100%;
        margin: 0 auto 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;

        .section-title {
            font-family: v.$font-secondary;
            font-weight: 700;
            font-size: v.$font-size-h2;
            line-height: 120%;
            letter-spacing: -1%;
            color: v.$text-dark;
            margin-top: 100px;
            margin-bottom: -40px;
        }

        .section-description {
            font-family: v.$font-main;
            font-weight: 400;
            font-size: 18px;
            line-height: 155%;
            letter-spacing: 2%;
            color: v.$text-gray;
            margin-bottom: 0;
            max-width: 65%;
        }
    }
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;

    @media (max-width: v.$breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    @media (max-width: v.$breakpoint-md) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.feature-card {
    padding: 40px 20px;
    text-align: center;
    max-width: 100%;
    margin-top: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    &--white-text {
        // background-color: v.$blue;
        border-radius: 8px;
        
        .feature-card__title,
        .feature-card__text {
            color: v.$white;
        }
    }
}

.feature-card__icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    img {
        max-width: 80px;
        height: auto;
    }
}

.feature-card__title {
    font-family: v.$font-secondary;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -1%;
    color: v.$text-dark;
    margin: 0 0 15px 0;
}

.feature-card__text {
    font-family: v.$font-main;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 155%;
    letter-spacing: 2%;
    color: v.$text-gray;
    text-align: justify;
    text-align-last: center;
    margin: 0;
}

@media (max-width: v.$breakpoint-md) {
    .features-preview {
        padding: 60px 0;

        &__header {
            gap: 30px;
            margin: 0 auto 50px;

            .section-title {
                margin-top: 150px;
                margin-bottom: -20px;
                font-size: clamp(32px, 5.5vw, 48px);
            }

            .section-description {
                font-size: 16px;
                max-width: 85%;
            }
        }
        &__bg-wrapper {
            display: none;
        }
    }

    .feature-card {
        padding: 25px 15px;
        margin-top: 15px;

        &__title {
            font-size: 24px;
        }

        &__text {
            font-size: 14px;
        }
        &--white-text {
            .feature-card__title{
                color: v.$text-dark;
            }
            .feature-card__text {
                color: v.$text-gray;
            }
        }
    }
}

@media (min-width: v.$breakpoint-lg) {
    .features-preview {
        padding: 120px 0;

        &__header {
            gap: 60px;
            margin-bottom: 100px;

            .section-title {
                font-size: v.$font-size-h2;
            }

            .section-description {
                font-size: v.$font-size-body;
            }
        }
    }

    .feature-card {
        padding: 50px 25px;

        &__icon {
            margin-bottom: 25px;

            img {
                max-width: 100px;
            }
        }

        &__title {
            font-size: 35px;
        }

        &__text {
            font-size: 17px;
        }
    }
}

@media (min-width: v.$breakpoint-xl) {
    .features-preview {
        padding: 140px 0;

        &__header {
            gap: 70px;
            margin-bottom: 120px;

            .section-title {
                font-size: clamp(40px, 6vw, 52px);
            }

            .section-description {
                font-size: clamp(17px, 2vw, 18px);
            }
        }

        &__bg-wrapper {
            top: 28%;
            width: 40%;
            left: 0%;
        }
    }

    .feature-card {
        padding: 60px 30px;

        &__icon {
            margin-bottom: 30px;

            img {
                max-width: 120px;
            }
        }

        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 18px;
        }
    }
}