@use "variables" as v;

// Sección 3: Features Preview

.features-preview {
    padding: 10px 0 100px 0;
    text-align: center;
    position: relative;
    overflow: visible;

    &__bg-wrapper {
        position: absolute;
        top: 350px;
        left: -2%;
        width: 40%;
        height: auto;
        z-index: 0;
        pointer-events: none;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &__header {
        max-width: 100%;
        margin: 0 auto 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        // text-align: center;
        // align-content: center;

        .section-title {
            font-family: v.$font-secondary;
            font-weight: 700;
            font-size: 60px;
            line-height: 120%;
            letter-spacing: -1%;
            color: v.$text-dark;
            margin-top: 250px;
            margin-bottom: -40px;
        }

        .section-description {
            font-family: v.$font-main;
            font-weight: 400;
            font-size: 18px;
            line-height: 155%;
            letter-spacing: 2%;
            color: v.$text-gray;
            margin-bottom: 0;
            max-width: 65%;
        }
    }
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;

    @media (max-width: v.$breakpoint-lg) {
        grid-template-columns: 1fr;
    }
}

.feature-card {
    padding: 40px 20px;
    text-align: center;
    max-width: 100%;
    margin-top: 30px;

    &--white-text {
        .feature-card__title,
        .feature-card__text {
            color: v.$white;
        }
    }
}

.feature-card__title {
    font-family: v.$font-secondary;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -1%;
    color: v.$text-dark;
}

.feature-card__text {
    font-family: v.$font-main;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 155%;
    letter-spacing: 2%;
    color: v.$text-gray;
    text-align: justify;
    text-align-last: center;
}