@use "variables" as v;

.social-proof {
    padding: 60px 0;
    text-align: center;
    background-color: transparent;

    &__text {
        font-family: v.$font-secondary;
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -1%;
        color: v.$text-gray;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    &__logos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;

        img {
            height: 50px;
            object-fit: contain;
            width: auto;
            max-width: 120px;
        }
    }
}

@media (max-width: v.$breakpoint-md) {
    .social-proof {
        padding: 40px 0;

        &__text {
            font-size: 13px;
            margin-top: 50px;
            margin-bottom: 15px;
        }

        &__logos {
            gap: 30px;

            img {
                height: 40px;
            }
        }
    }
}

@media (min-width: v.$breakpoint-lg) {
    .social-proof {
        padding: 80px 0;

        &__text {
            font-size: 17px;
            margin-top: 80px;
            margin-bottom: 25px;
        }

        &__logos {
            gap: 60px;

            img {
                height: 60px;
                max-width: 140px;
            }
        }
    }
}

@media (min-width: v.$breakpoint-xl) {
    .social-proof {
        padding: 80px 0;

        &__text {
            font-size: 18px;
            margin-top: 80px;
            margin-bottom: 30px;
        }

        &__logos {
            gap: 70px;

            img {
                height: 70px;
                max-width: 160px;
            }
        }
    }
}