body {
    background-color: #f4f7f6;
    font-family: 'Comic Sans MS', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

h1 {
    color: #2c3e50;
    font-size: 40px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.caja {
    background-color: #3498db;
    color: white;
    padding: 25px;
    border: 2px solid #2980b9;
    border-radius: 8px;
    width: 200px;
    margin-top: 20px;
    transition: background 0.3s;
}

.caja:hover {
    background-color: #2ecc71;
    cursor: pointer;
}