// Importamos los parciales
@use 'variables' as v;
@use 'buttons';

// Estilos extra para la demo
body {
    background-color: v.$light;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}